<div class="homepage container-fluid">
    <div class="intro p-5">
        <h1>Toddler</h1>
        <h2>Gestionamos la comunicación entre familias y guarderías.</h2>
        <div class="enlances">
            <a class="enlace btn btn-outline-primary" [routerLink]="['login']">Iniciar sesión</a>
            <a class="enlace btn btn-outline-primary" (click)="gotoSignup('educadores')">Educadores</a>
            <a class="enlace btn btn-outline-primary" (click)="gotoSignup('familiares')">Familiares</a>
        </div>
    </div>
</div>