<div class="signuppage">
  <div class="contenedor bg-light p-3">
    <h1 class="text-center">Toddler</h1>
    <h2 class="text-center" *ngIf="tipoUsuario === 'educadores'">La comunicación con las familias nunca fue tan fácil.</h2>
    <h2 class="text-center" *ngIf="tipoUsuario === 'familiares'">La tranquilidad de saber que están bien.</h2>
    <h3 class="text-center">Crea tu cuenta gratuita.</h3>

    <form [formGroup]="signupForm" (ngSubmit)="handleSignup(signupForm?.value)">
      <div class="campos">
        <div class="form-group">
          <label class="d-block">Código</label>
          <input class="form-control" *ngIf="tipoUsuario === 'educadores'" type="text" name="codigo" formControlName="codigo" placeholder="Código de centro"
          />
          <input class="form-control" *ngIf="tipoUsuario === 'familiares'" type="text" name="codigo" formControlName="codigo" placeholder="Código de alumno"
          />
          <small class="error text-left" *ngIf="signupForm.controls.codigo.errors?.required && signupForm.controls.codigo.dirty">Campo obligatorio</small>
          <small *ngIf="codigoIncorrecto">Código incorrecto</small>
        </div>

        <div class="form-group">
          <label class="d-block">Nombre</label>
          <input class="form-control" type="text" name="nombre" formControlName="nombre" placeholder="Nombre" />
          <small class="error text-left" *ngIf="signupForm.controls.nombre.errors?.required && signupForm.controls.nombre.dirty">Campo obligatorio</small>
          <small class="error text-left" *ngIf="(signupForm.controls.nombre.errors?.minlength && signupForm.controls.nombre.touched)">Nombre demasiado corto</small>
          <small class="error text-left" *ngIf="(signupForm.controls.nombre.errors?.maxlength && signupForm.controls.nombre.touched)">Nombre demasiado largo</small>
        </div>

        <div class="form-group">
          <label class="d-block">Apellidos</label>
          <input class="form-control" type="text" name="apellidos" formControlName="apellidos" placeholder="Apellidos" />
          <small class="error text-left" *ngIf="signupForm.controls.apellidos.errors?.required && signupForm.controls.apellidos.dirty">Campo obligatorio</small>
          <small class="error text-left" *ngIf="(signupForm.controls.apellidos.errors?.minlength && signupForm.controls.apellidos.touched)">Apellidos demasiado corto</small>
          <small class="error text-left" *ngIf="(signupForm.controls.apellidos.errors?.maxlength && signupForm.controls.apellidos.touched)">Apellidos demasiado largo</small>

        </div>

        <div class="form-group">
          <label class="d-block">Teléfono</label>
          <input class="form-control" type="tel" name="telefono" formControlName="telefono" placeholder="Número de teléfono" />
          <small class="error text-left" *ngIf="signupForm.controls.telefono.errors?.required && signupForm.controls.telefono.dirty">Campo obligatorio</small>
          <small class="error text-left" *ngIf="(signupForm.controls.telefono.errors?.minlength || signupForm.controls.telefono.errors?.maxlength) && signupForm.controls.telefono.touched">Número inválido</small>
        </div>

        <div class="form-group">
          <label class="d-block">Correo electrónico</label>
          <input class="form-control" type="email" name="email" formControlName="email" placeholder="Correo electrónico" />
          <small class="error text-left" *ngIf="signupForm.controls.email.errors?.required && signupForm.controls.email.dirty">Campo obligatorio</small>
          <small class="error text-left" *ngIf="signupForm.controls.email.errors?.pattern && signupForm.controls.email.touched">Dirección de correo no válida</small>
          <small *ngIf="yaRegistrado">Esta dirección ya pertenece a una cuenta.</small>
        </div>

        <div class="form-group">
          <label class="d-block">Contraseña</label>
          <input class="form-control" type="password" name="password" formControlName="password" placeholder="Contraseña" />
          <small class="error text-left">8 caracteres, al menos una mayúscula o un número.</small>
          <small class="error text-left" *ngIf="signupForm.controls.password.errors?.required && signupForm.controls.password.dirty">Campo obligatorio</small>
          <small class="error text-left" *ngIf="signupForm.controls.password.errors?.pattern && signupForm.controls.password.touched">Contraseña no válida</small>
        </div>

        <div class="form-group">
          <label class="d-block">Repetir contraseña</label>
          <input class="form-control" type="password" name="passwordRepeat" formControlName="passwordRepeat" placeholder="Repetir contraseña"
          />
          <small *ngIf="(signupForm.controls.password.value !== signupForm.controls.passwordRepeat.value)&&signupForm.controls.password.touched">
            Las contraseñas no coinciden</small>
        </div>

        <div>
          <input class="btn btn-primary btn-block" type="submit" [disabled]="!signupForm.valid" value="Registrarse" />
        </div>
      </div>
    </form>
  </div>
</div>