.signuppage{
    background-color: #F4C2C2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    margin-top: 2%;
    width: 80%;
}

.campos{
    width: 90%;
    margin: auto;
    padding: 2%;
}

small.error{
    color: #f00;
}

@media screen and (min-width: 576px){
    .campos{
        width: 50%;
        margin: auto;
        padding: 2%;
    }
}