
<div class="profile card container">
    <div class="row">
      <div class="imagen col-12 col-md-4">
          <img width="100" *ngIf="!infoProfile?.foto" src="./../../assets/img/profile-placeholder.png" alt="">
          <img width="100" *ngIf="infoProfile?.foto" src="{{infoProfile?.foto}}" alt="Card image cap">
      </div>
      <div class="col-12 col-md-8">
          <div class="card-body">
              <h5 class="card-title">{{infoProfile?.nombre}} {{infoProfile?.apellidos}}</h5>
              <p class="card-text"><i class="fas fa-at"></i> {{infoProfile?.email}}</p>
              <p class="card-text"><i class="fas fa-mobile-alt"></i> {{infoProfile?.telefono}}</p>
              <a href="#" class="btn btn-primary" [routerLink]="['../profile-edit']">Editar</a>
            </div>
      </div>
    </div>
  </div>
  