<div class="container">
    <label>Filtrar por clase</label>
    <select class="form-control" (change)="getCircularesByClassName($event.target.value)">
        <option value="Todas">Todas</option>
        <option *ngFor="let clase of clases" value="{{clase}}">{{clase}}</option>
    </select>


    <div *ngFor="let mensaje of mensajes">
        <div class="separador">
            <div class="card text-center">
                <div class="card-header text-left">
                    {{mensaje?.asunto}}
                </div>
                <div class="card-body text-left">
                    <p class="card-text">{{mensaje?.mensaje}}</p>
                </div>
                <div class="card-footer text-right">{{mensaje?.fecha | date: 'dd/MM/yyyy HH:mm'}}</div>
            </div>
        </div>

    </div>
</div>